.formbody-contacto {
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center; /* Centrar el contenido del formulario */
    flex-direction: column;
    height: 90vh; /* Altura del formulario */
    width: 70%; /* Ancho del formulario */
    position: relative; /* Para permitir el posicionamiento absoluto de elementos internos si es necesario */
    transition: transform 0.6s ease-in-out; /* Transición suave para el desplazamiento */
}

.contentContacto button {
    background-color: #eeb770;
    color: #fcfcfc;
    padding: 10px 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
}

.contentContacto button:hover {
    background-color: darkmagenta;
}

.header-text h1, .forgot a {
    color: #916832;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

.textArea {
    width: 100%; /* Ajustar el ancho del área de texto */
    max-width: 450px; /* Ancho máximo del área de texto */
}

/* Estilos para el contenido de la transición */
.switch-content {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 60px 60px 0;
    z-index: 1000;
}

.contentContacto.active .switch-content {
    transform: translateX(100%);
    border-radius: 60px 0 0 60px;
}

.switch {
    background-color: rgb(139, 0, 53);
    height: 100%;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.contentContacto.active .switch {
    transform: translateX(50%);
}

.switch-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.switch-left {
    transform: translateX(-200%);
}

.contentContacto.active .switch-left {
    transform: translateX(0);
}

.switch-right {
    right: 0;
    transform: translateX(0);
}

.contentContacto.active .switch-right {
    transform: translateX(200%);
}

/* Estilos para hacer el diseño responsivo */
@media (max-width: 768px) {
    .formbody-contacto {
        width: 90%; /* Ancho del formulario en pantallas pequeñas */
        height: auto; /* Altura automática para adaptarse al contenido */
    }

    .contentContacto {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    .switch-content {
        width: 100%; /* Ancho completo para el contenido de la transición */
    }
}

