.wallet-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin: 20px 0; /* Espaciado superior e inferior */
  width: 100%; /* Asegúrate de que ocupe el ancho completo */
}

.wallet-container .mp-button {
  max-width: 200px; /* Establece un ancho máximo para el botón */
  width: 100%; /* Asegúrate de que el botón ocupe el ancho del contenedor */
  padding: 5px 10px; /* Ajusta el padding según sea necesario */
}

/* Media query para pantallas grandes */
@media (min-width: 720px) { /* lg y superior */
  .wallet-container .mp-button {
    max-width: 150px; /* Reduce el ancho máximo del botón en pantallas grandes */
    padding: 5px; /* Ajusta el padding si es necesario */
  }
}